<p>
  <strong>Nombre:</strong>
  <%= @product_field.nombre %>
</p>
 
<p>
  <strong>Tipo:</strong>
  <%= @product_field.tipo %>
</p>

<p>
  <strong>Requerido:</strong>
  <%= @product_field.requerido %>
</p>